/* Ensures the text container is not too wide */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

.error {
  color: red;
}

#iframe-container {
  width: 100%;
  height: 100%;
}

#iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}
